USE [QLDSV_TC]
GO
/****** Object:  User [HTKN]    Script Date: 5/24/2022 3:59:07 PM ******/
CREATE USER [HTKN] FOR LOGIN [HTKN] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [MSmerge_2D2582C2704943F7BD6927F0BCD05B27]    Script Date: 5/24/2022 3:59:07 PM ******/
CREATE ROLE [MSmerge_2D2582C2704943F7BD6927F0BCD05B27]
GO
/****** Object:  DatabaseRole [MSmerge_4B18FA87E2D249529EF1176F5C7E6D24]    Script Date: 5/24/2022 3:59:07 PM ******/
CREATE ROLE [MSmerge_4B18FA87E2D249529EF1176F5C7E6D24]
GO
/****** Object:  DatabaseRole [MSmerge_85895F9EDFBD444A8A8008111559A1D3]    Script Date: 5/24/2022 3:59:07 PM ******/
CREATE ROLE [MSmerge_85895F9EDFBD444A8A8008111559A1D3]
GO
/****** Object:  DatabaseRole [MSmerge_PAL_role]    Script Date: 5/24/2022 3:59:07 PM ******/
CREATE ROLE [MSmerge_PAL_role]
GO
ALTER ROLE [db_owner] ADD MEMBER [HTKN]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_2D2582C2704943F7BD6927F0BCD05B27]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_4B18FA87E2D249529EF1176F5C7E6D24]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_85895F9EDFBD444A8A8008111559A1D3]
GO
/****** Object:  Schema [MSmerge_PAL_role]    Script Date: 5/24/2022 3:59:07 PM ******/
CREATE SCHEMA [MSmerge_PAL_role]
GO
/****** Object:  UserDefinedTableType [dbo].[TYPE_CAPNHATDANGKY]    Script Date: 5/24/2022 3:59:07 PM ******/
CREATE TYPE [dbo].[TYPE_CAPNHATDANGKY] AS TABLE(
	[MALTC] [int] NOT NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[TYPE_DANGKY]    Script Date: 5/24/2022 3:59:07 PM ******/
CREATE TYPE [dbo].[TYPE_DANGKY] AS TABLE(
	[MALTC] [int] NULL,
	[MASV] [nchar](10) NULL,
	[DIEM_CC] [int] NULL,
	[DIEM_GK] [float] NULL,
	[DIEM_CK] [float] NULL
)
GO
/****** Object:  View [dbo].[V_DS_PHANMANH]    Script Date: 5/24/2022 3:59:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_DS_PHANMANH]
AS
SELECT PUBS.description AS TENCN, SUBS.subscriber_server AS TENSERVER
FROM     dbo.sysmergepublications AS PUBS INNER JOIN
                  dbo.sysmergesubscriptions AS SUBS ON PUBS.pubid = SUBS.pubid AND PUBS.publisher <> SUBS.subscriber_server
GO
/****** Object:  Table [dbo].[CT_DONGHOCPHI]    Script Date: 5/24/2022 3:59:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_DONGHOCPHI](
	[MASV] [nchar](10) NOT NULL,
	[NIENKHOA] [nchar](9) NOT NULL,
	[HOCKY] [int] NOT NULL,
	[NGAYDONG] [date] NOT NULL,
	[SOTIENDONG] [int] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_CT_DONGHOCPHI] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC,
	[NIENKHOA] ASC,
	[HOCKY] ASC,
	[NGAYDONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANGKY]    Script Date: 5/24/2022 3:59:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANGKY](
	[MALTC] [int] NOT NULL,
	[MASV] [nchar](10) NOT NULL,
	[DIEM_CC] [int] NULL,
	[DIEM_GK] [float] NULL,
	[DIEM_CK] [float] NULL,
	[HUYDANGKY] [bit] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_DANGKY] PRIMARY KEY CLUSTERED 
(
	[MALTC] ASC,
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_DANGKY] UNIQUE NONCLUSTERED 
(
	[MALTC] ASC,
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIANGVIEN]    Script Date: 5/24/2022 3:59:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIANGVIEN](
	[MAGV] [nchar](10) NOT NULL,
	[MAKHOA] [nchar](10) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[HOCVI] [nvarchar](20) NULL,
	[HOCHAM] [nvarchar](20) NULL,
	[CHUYENMON] [nvarchar](50) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_GIANGVIEN] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOCPHI]    Script Date: 5/24/2022 3:59:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCPHI](
	[MASV] [nchar](10) NOT NULL,
	[NIENKHOA] [nchar](9) NOT NULL,
	[HOCKY] [int] NOT NULL,
	[HOCPHI] [int] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_HOCPHI] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC,
	[NIENKHOA] ASC,
	[HOCKY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 5/24/2022 3:59:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOA](
	[MAKHOA] [nchar](10) NOT NULL,
	[TENKHOA] [nvarchar](50) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_KHOA] PRIMARY KEY CLUSTERED 
(
	[MAKHOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 5/24/2022 3:59:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [nchar](10) NOT NULL,
	[TENLOP] [nvarchar](50) NOT NULL,
	[KHOAHOC] [nchar](9) NOT NULL,
	[MAKHOA] [nchar](10) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_LOP] PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOPTINCHI]    Script Date: 5/24/2022 3:59:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOPTINCHI](
	[MALTC] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[NIENKHOA] [nchar](9) NOT NULL,
	[HOCKY] [int] NOT NULL,
	[MAMH] [nchar](10) NOT NULL,
	[NHOM] [int] NOT NULL,
	[MAGV] [nchar](10) NOT NULL,
	[MAKHOA] [nchar](10) NOT NULL,
	[SOSVTOITHIEU] [int] NOT NULL,
	[HUYLOP] [bit] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_LOPTINCHI] PRIMARY KEY CLUSTERED 
(
	[MALTC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_LOPTINCHI] UNIQUE NONCLUSTERED 
(
	[NIENKHOA] ASC,
	[HOCKY] ASC,
	[MAMH] ASC,
	[NHOM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 5/24/2022 3:59:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MAMH] [nchar](10) NOT NULL,
	[TENMH] [nvarchar](50) NOT NULL,
	[SOTIET_LT] [int] NOT NULL,
	[SOTIET_TH] [int] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_MONHOC] PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 5/24/2022 3:59:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MASV] [nchar](10) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[PHAI] [bit] NOT NULL,
	[DIACHI] [nvarchar](100) NULL,
	[NGAYSINH] [date] NULL,
	[MALOP] [nchar](10) NOT NULL,
	[DANGHIHOC] [bit] NOT NULL,
	[PASSWORD] [nvarchar](40) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CT_DONGHOCPHI] ADD  CONSTRAINT [DF_CT_DONGHOCPHI_NGAYDONG]  DEFAULT (getdate()) FOR [NGAYDONG]
GO
ALTER TABLE [dbo].[CT_DONGHOCPHI] ADD  CONSTRAINT [MSmerge_df_rowguid_27EB1721376A4A88920AB9BC51A376D3]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[DANGKY] ADD  CONSTRAINT [DF_HUYDANGKY]  DEFAULT ('false') FOR [HUYDANGKY]
GO
ALTER TABLE [dbo].[DANGKY] ADD  CONSTRAINT [MSmerge_df_rowguid_5397B8FE5D324C9E87B68A8BCCCE9141]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[GIANGVIEN] ADD  CONSTRAINT [MSmerge_df_rowguid_57A77829074B49AE8842901A4F019EC6]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[HOCPHI] ADD  CONSTRAINT [DF_HOCPHI_HOCKY]  DEFAULT ((1)) FOR [HOCKY]
GO
ALTER TABLE [dbo].[HOCPHI] ADD  CONSTRAINT [DF_HOCPHI_HOCPHI]  DEFAULT ((6000000)) FOR [HOCPHI]
GO
ALTER TABLE [dbo].[HOCPHI] ADD  CONSTRAINT [MSmerge_df_rowguid_4D7D06CF242349ADA9B5047F2E58D042]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[KHOA] ADD  CONSTRAINT [MSmerge_df_rowguid_37962F84CDA24214858C2056B86DBBA3]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[LOP] ADD  CONSTRAINT [MSmerge_df_rowguid_A7D6E0907A1E484A8C3177C7D5DE8851]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[LOPTINCHI] ADD  CONSTRAINT [DF_LOPTINCHI_HUYLOP]  DEFAULT ('false') FOR [HUYLOP]
GO
ALTER TABLE [dbo].[LOPTINCHI] ADD  CONSTRAINT [MSmerge_df_rowguid_4CA0FE4E9DC44A6D875BF4F3CDB95A8A]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[MONHOC] ADD  CONSTRAINT [MSmerge_df_rowguid_A3F8145D219842F7B70D67235EAAA7A2]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[SINHVIEN] ADD  CONSTRAINT [DF_SINHVIEN_PHAI]  DEFAULT ('false') FOR [PHAI]
GO
ALTER TABLE [dbo].[SINHVIEN] ADD  CONSTRAINT [DF_SINHVIEN_DANGHIHOC]  DEFAULT ('false') FOR [DANGHIHOC]
GO
ALTER TABLE [dbo].[SINHVIEN] ADD  CONSTRAINT [DF_SINHVIEN_PASSWORD]  DEFAULT ('') FOR [PASSWORD]
GO
ALTER TABLE [dbo].[SINHVIEN] ADD  CONSTRAINT [MSmerge_df_rowguid_593D8FE332E447F998EFDAC297C75B17]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[CT_DONGHOCPHI]  WITH CHECK ADD  CONSTRAINT [FK_CT_DONGHOCPHI_HOCPHI] FOREIGN KEY([MASV], [NIENKHOA], [HOCKY])
REFERENCES [dbo].[HOCPHI] ([MASV], [NIENKHOA], [HOCKY])
GO
ALTER TABLE [dbo].[CT_DONGHOCPHI] CHECK CONSTRAINT [FK_CT_DONGHOCPHI_HOCPHI]
GO
ALTER TABLE [dbo].[DANGKY]  WITH CHECK ADD  CONSTRAINT [FK_CTLTC_SINHVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DANGKY] CHECK CONSTRAINT [FK_CTLTC_SINHVIEN]
GO
ALTER TABLE [dbo].[DANGKY]  WITH CHECK ADD  CONSTRAINT [FK_DANGKY_LOPTINCHI] FOREIGN KEY([MALTC])
REFERENCES [dbo].[LOPTINCHI] ([MALTC])
GO
ALTER TABLE [dbo].[DANGKY] CHECK CONSTRAINT [FK_DANGKY_LOPTINCHI]
GO
ALTER TABLE [dbo].[GIANGVIEN]  WITH CHECK ADD  CONSTRAINT [FK_GIANGVIEN_KHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[GIANGVIEN] CHECK CONSTRAINT [FK_GIANGVIEN_KHOA]
GO
ALTER TABLE [dbo].[HOCPHI]  WITH CHECK ADD  CONSTRAINT [FK_HOCPHI_SINHVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[HOCPHI] CHECK CONSTRAINT [FK_HOCPHI_SINHVIEN]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [FK_LOP_KHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_LOP_KHOA]
GO
ALTER TABLE [dbo].[LOPTINCHI]  WITH CHECK ADD  CONSTRAINT [FK_LOPTINCHI_GIANGVIEN] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIANGVIEN] ([MAGV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LOPTINCHI] CHECK CONSTRAINT [FK_LOPTINCHI_GIANGVIEN]
GO
ALTER TABLE [dbo].[LOPTINCHI]  WITH CHECK ADD  CONSTRAINT [FK_LOPTINCHI_KHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[LOPTINCHI] CHECK CONSTRAINT [FK_LOPTINCHI_KHOA]
GO
ALTER TABLE [dbo].[LOPTINCHI]  WITH CHECK ADD  CONSTRAINT [FK_LOPTINCHI_MONHOC] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LOPTINCHI] CHECK CONSTRAINT [FK_LOPTINCHI_MONHOC]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_LOP]
GO
ALTER TABLE [dbo].[CT_DONGHOCPHI]  WITH CHECK ADD  CONSTRAINT [CK_SOTIENDONG] CHECK  (([SOTIENDONG]>(0)))
GO
ALTER TABLE [dbo].[CT_DONGHOCPHI] CHECK CONSTRAINT [CK_SOTIENDONG]
GO
ALTER TABLE [dbo].[HOCPHI]  WITH CHECK ADD  CONSTRAINT [CK_HOCKY] CHECK  (([HOCKY]>=(1) AND [HOCKY]<=(4)))
GO
ALTER TABLE [dbo].[HOCPHI] CHECK CONSTRAINT [CK_HOCKY]
GO
ALTER TABLE [dbo].[HOCPHI]  WITH CHECK ADD  CONSTRAINT [CK_HOCPHI] CHECK  (([HOCPHI]>(0)))
GO
ALTER TABLE [dbo].[HOCPHI] CHECK CONSTRAINT [CK_HOCPHI]
GO
ALTER TABLE [dbo].[LOPTINCHI]  WITH CHECK ADD  CONSTRAINT [CK_HOCKY_LTC] CHECK  (([hocky]>=(1) AND [hocky]<=(4)))
GO
ALTER TABLE [dbo].[LOPTINCHI] CHECK CONSTRAINT [CK_HOCKY_LTC]
GO
ALTER TABLE [dbo].[LOPTINCHI]  WITH CHECK ADD  CONSTRAINT [CK_NHOM_LTC] CHECK  (([nhom]>=(1)))
GO
ALTER TABLE [dbo].[LOPTINCHI] CHECK CONSTRAINT [CK_NHOM_LTC]
GO
ALTER TABLE [dbo].[LOPTINCHI]  WITH CHECK ADD  CONSTRAINT [CK_SOSVTOITHIEU] CHECK  (([SOSVTOITHIEU]>(0)))
GO
ALTER TABLE [dbo].[LOPTINCHI] CHECK CONSTRAINT [CK_SOSVTOITHIEU]
GO
ALTER TABLE [dbo].[LOPTINCHI]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_A146C64A_EAA2_41B7_9E2C_515A215CB0E6] CHECK NOT FOR REPLICATION (([MALTC]>(8) AND [MALTC]<=(1008) OR [MALTC]>(1008) AND [MALTC]<=(2008)))
GO
ALTER TABLE [dbo].[LOPTINCHI] CHECK CONSTRAINT [repl_identity_range_A146C64A_EAA2_41B7_9E2C_515A215CB0E6]
GO
/****** Object:  StoredProcedure [dbo].[DSLTC]    Script Date: 5/24/2022 3:59:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DSLTC] @NIENKHOA NCHAR(9), @HOCKY INT
AS
BEGIN
DECLARE @MAKHOA NCHAR(10)
DECLARE @TENKHOA NVARCHAR(50)
SELECT @MAKHOA = MAKHOA, @TENKHOA = TENKHOA FROM KHOA
SELECT @TENKHOA AS TENKHOA,TENMH,NHOM,CONCAT(GV.HO,' ',GV.TEN) AS HOTENGV,SOSVTOITHIEU,SLDADANGKY FROM
(select MALTC,MAMH,NHOM,MAGV,SOSVTOITHIEU from LOPTINCHI WHERE HOCKY = @HOCKY AND NIENKHOA = @NIENKHOA) LTC
LEFT JOIN (SELECT MALTC, COUNT(MALTC) AS SLDADANGKY FROM DANGKY WHERE HUYDANGKY = 'FALSE' GROUP BY MALTC) DK
ON DK.MALTC = LTC.MALTC
INNER JOIN MONHOC ON MONHOC.MAMH = LTC.MAMH
INNER JOIN (SELECT MAGV,MAKHOA,HO,TEN FROM GIANGVIEN WHERE MAKHOA = @MAKHOA) GV ON GV.MAGV = LTC.MAGV
ORDER BY TENMH, NHOM
END
GO
/****** Object:  StoredProcedure [dbo].[DSSVDK]    Script Date: 5/24/2022 3:59:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[DSSVDK] @nienkhoa nchar(9), @hocky int, @mamon nchar(10), @nhom int
as
begin
	declare @maltc int
	declare @makhoa nchar(10)
	declare @tenkhoa nvarchar(50)
	declare @tenmon nvarchar(50)

	select @maltc = MALTC, @makhoa = MAKHOA from LOPTINCHI 
	where HOCKY = @hocky
	and NHOM = @nhom 
	and NIENKHOA = @nienkhoa 
	and MAMH = @mamon 
	select @tenkhoa = TENKHOA from KHOA where MAKHOA = @makhoa
	select @tenmon = TENMH from MONHOC where MAMH = @mamon

	select TENKHOA=@tenkhoa, TENMH=@tenmon, DK.MASV, HO, TEN, PHAI, MALOP from 
	((SELECT MASV from DANGKY where MALTC = @maltc and HUYDANGKY = 'false') DK
	inner join SINHVIEN on SINHVIEN.MASV = DK.MASV) ORDER BY TEN, HO
end
GO
/****** Object:  StoredProcedure [dbo].[GetAllHocKy]    Script Date: 5/24/2022 3:59:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[GetAllHocKy] @NIENKHOA nchar(9)
AS
BEGIN
	select HOCKY from LOPTINCHI where NIENKHOA= @NIENKHOA group by HOCKY
END
GO
/****** Object:  StoredProcedure [dbo].[GetNienKhoa]    Script Date: 5/24/2022 3:59:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create proc [dbo].[GetNienKhoa]
AS
BEGIN
	select DISTINCT NIENKHOA from LOPTINCHI group by NIENKHOA
END
GO
/****** Object:  StoredProcedure [dbo].[SP_BANGDIEMTONGKET]    Script Date: 5/24/2022 3:59:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_BANGDIEMTONGKET] @MALOP NVARCHAR(10)
AS
BEGIN

SELECT SV.MASV,SV.HOTEN,TENMH,DIEM FROM
(SELECT MASV, HOTEN = CONCAT(HO,' ',TEN) FROM SINHVIEN WHERE MALOP = @MALOP) SV
INNER JOIN (SELECT MALTC, MASV, DIEM = (DIEM_CC*0.1+DIEM_GK*0.3+DIEM_CK*0.6) FROM DANGKY WHERE HUYDANGKY = 'FALSE') DK ON SV.MASV = DK.MASV
INNER JOIN (SELECT MALTC,MAMH FROM LOPTINCHI WHERE HUYLOP = 'FALSE') LTC ON DK.MALTC = LTC.MALTC
INNER JOIN (SELECT MAMH, TENMH FROM MONHOC) MH ON MH.MAMH = LTC.MAMH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CAPNHATDANGKY]    Script Date: 5/24/2022 3:59:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CAPNHATDANGKY] @DK TYPE_CAPNHATDANGKY READONLY, @MASV NCHAR(10)
AS
BEGIN
MERGE INTO DANGKY AS TARGET
USING (SELECT MALTC, @MASV AS MASV FROM @DK) AS SOURCE
ON TARGET.MALTC = SOURCE.MALTC AND TARGET.MASV = SOURCE.MASV 
WHEN MATCHED THEN UPDATE SET TARGET.HUYDANGKY = 'FALSE' -- NẾU 2 BÊN ĐỀU CÓ THÌ UPDATE TRẠNG THÁI -> ĐĂNG KÝ
WHEN NOT MATCHED BY TARGET THEN INSERT (MALTC,MASV,HUYDANGKY) VALUES (SOURCE.MALTC, SOURCE.MASV, 'FALSE') -- BÊN TARGET KHÔNG CÓ -> THÊM DÒNG MỚI VỚI TRẠNG THÁI LÀ ĐĂNG KÝ
WHEN NOT MATCHED BY SOURCE AND TARGET.MASV = @MASV THEN UPDATE SET TARGET.HUYDANGKY = 'TRUE'; -- KHÔNG CÓ BÊN SOURCE -> TRẠNG THÁI -> HỦY
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CheckMaMonInLopTC]    Script Date: 5/24/2022 3:59:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE procedure [dbo].[SP_CheckMaMonInLopTC] @mamon nchar(10)
as
begin
	if (exists(SELECT * FROM LOPTINCHI WHERE LOPTINCHI.MAMH = @mamon))
	begin
		raiserror(N'Đã có lớp tín chỉ mở môn học này!',16,1)
	end
	else if (exists(SELECT * FROM LINK1.QLDSV_TC.DBO.LOPTINCHI WHERE MAMH = @mamon))
	begin
		raiserror(N'Môn học đã được mở lớp tín chỉ từ khoa khác!',16,1)
	end
end
GO
/****** Object:  StoredProcedure [dbo].[SP_DANGNHAP]    Script Date: 5/24/2022 3:59:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_DANGNHAP]
@TENLOGIN NVARCHAR (50)
AS
DECLARE @TENUSER NVARCHAR(50)
SELECT @TENUSER=NAME FROM sys.sysusers WHERE sid = SUSER_SID(@TENLOGIN)
 
 SELECT USERNAME = @TENUSER, 
  HOTEN = (SELECT HO+ ' '+ TEN FROM GIANGVIEN  WHERE MAGV = @TENUSER ),
   TENNHOM= NAME
   FROM sys.sysusers 
   WHERE UID = (SELECT GROUPUID 
                 FROM SYS.SYSMEMBERS 
                   WHERE MEMBERUID= (SELECT UID FROM sys.sysusers 
                                      WHERE NAME=@TENUSER))
GO
/****** Object:  StoredProcedure [dbo].[SP_GetInfoSV_HP]    Script Date: 5/24/2022 3:59:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROC [dbo].[SP_GetInfoSV_HP]
@masv VARCHAR(10)
AS 
BEGIN
	SELECT HOTEN=HO +' '+ TEN, MALOP FROM dbo.SINHVIEN WHERE MASV = @masv
END
GO
/****** Object:  StoredProcedure [dbo].[SP_KIEMTRAHOCPHISV]    Script Date: 5/24/2022 3:59:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_KIEMTRAHOCPHISV] @MASV NVARCHAR(10)
AS
BEGIN
	IF (EXISTS(SELECT * FROM LINK2.QLDSV_TC.DBO.HOCPHI WHERE MASV = @MASV))
	RAISERROR(N'Sinh viên đã đóng học phí. Không thể xóa!',16,1)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_KIEMTRALTCDANHAPDIEM]    Script Date: 5/24/2022 3:59:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_KIEMTRALTCDANHAPDIEM] @MALTC INT
AS
BEGIN
	IF (EXISTS(SELECT MALTC,DIEM_CC,DIEM_GK,DIEM_CK FROM DANGKY WHERE MALTC = @MALTC AND (DIEM_CC IS NOT NULL OR DIEM_GK IS NOT NULL OR DIEM_CC IS NOT NULL)))
	RAISERROR(N'Lớp này đã nhập điểm. Không thể thao tác!',16,1)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_KIEMTRAMALOP]    Script Date: 5/24/2022 3:59:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_KIEMTRAMALOP] @malop nchar(10)
as
begin
	if (exists(SELECT * FROM LOP WHERE MALOP = @malop))
	begin
		raiserror(N'Mã lớp đã tồn tại ở khoa này!',16,1)
	end
	else if (exists(SELECT * FROM LINK1.QLDSV_TC.DBO.LOP WHERE MALOP = @malop))
	begin
		raiserror(N'Mã lớp đã tồn tại ở khoa khác!',16,1)
	end
end
GO
/****** Object:  StoredProcedure [dbo].[SP_KIEMTRAMALTC]    Script Date: 5/24/2022 3:59:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_KIEMTRAMALTC] @NIENKHOA NCHAR(9), @HOCKY INT, @NHOM INT, @MAMH NCHAR(10)
AS
BEGIN
IF (EXISTS(SELECT * FROM LOPTINCHI WHERE HOCKY = @HOCKY AND NHOM = @NHOM AND NIENKHOA = @NIENKHOA AND MAMH = @MAMH)
	OR EXISTS(SELECT * FROM LINK1.QLDSV_TC.DBO.LOPTINCHI WHERE HOCKY = @HOCKY AND NHOM = @NHOM AND NIENKHOA = @NIENKHOA AND MAMH = @MAMH))
	RAISERROR(N'LỚP TÍN CHỈ BỊ TRÙNG. KIỂM TRA LẠI NIÊN KHÓA, HỌC KỲ, NHÓM, MÃ MÔN!',16,1)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_KIEMTRAMAMON]    Script Date: 5/24/2022 3:59:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SP_KIEMTRAMAMON] @mamon nchar(10)
as
begin
	if (exists(SELECT * FROM MONHOC WHERE MAMH = @mamon))
	begin
		raiserror(N'Mã môn đã tồn tại !',16,1)
	end
end
GO
/****** Object:  StoredProcedure [dbo].[SP_KIEMTRAMASV]    Script Date: 5/24/2022 3:59:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_KIEMTRAMASV] @MASV NVARCHAR(50)
AS
BEGIN
	DECLARE @RETURN_VALUE INT
	IF (EXISTS(SELECT * FROM SINHVIEN WHERE MASV = @MASV))
	raiserror(N'Mã sinh viên đã tồn tại!',16,1)
	ELSE IF (EXISTS(SELECT * FROM LINK1.QLDSV_TC.DBO.SINHVIEN WHERE MASV = @MASV))
	raiserror(N'Mã sinh viên đã tồn tại ở khoa khác!',16,1)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_DS_LTC]    Script Date: 5/24/2022 3:59:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[SP_LAY_DS_LTC]
@NK NCHAR(9), @HK INT
AS
BEGIN
	SELECT LTC.MALTC, LTC.MAMH, TENMH, NHOM, HOTENGV = HO + ' ' + TEN
	FROM (SELECT MALTC, MAMH, NHOM, MAGV
	FROM LOPTINCHI  WHERE NIENKHOA = @NK AND HOCKY = @HK AND HUYLOP = 'FALSE') LTC,
		(SELECT MAMH, TENMH FROM MONHOC) MH, 
		(SELECT MAGV, HO, TEN FROM GIANGVIEN) GV
	WHERE  LTC.MAMH = MH.MAMH AND LTC.MAGV = GV.MAGV
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_DSLTC_SVDK]    Script Date: 5/24/2022 3:59:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_LAY_DSLTC_SVDK] @MASV NCHAR(10), @NIENKHOA NCHAR(9), @HOCKY INT
AS
BEGIN
SELECT LTC.MALTC,LTC.MAMH,TENMH,NHOM,HOTENGV,LTC.HUYLOP
FROM (SELECT MALTC,MAMH,NHOM,MAGV,HUYLOP FROM LOPTINCHI WHERE HOCKY = @HOCKY AND NIENKHOA = @NIENKHOA) LTC 
INNER JOIN (SELECT MALTC FROM DANGKY WHERE MASV = @MASV AND HUYDANGKY = 'FALSE') SVDK ON SVDK.MALTC = LTC.MALTC
INNER JOIN MONHOC ON MONHOC.MAMH = LTC.MAMH -- LẤY TÊN MÔN HỌC
INNER JOIN (SELECT MAGV, CONCAT(HO,' ',TEN) AS HOTENGV FROM GIANGVIEN) GV ON GV.MAGV = LTC.MAGV -- LẤY HỌ TÊN GIẢNG VIÊN
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_DSSV_DANGKY]    Script Date: 5/24/2022 3:59:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[SP_LAY_DSSV_DANGKY]
@MALTC INT
AS
BEGIN
	SELECT SV.MASV, HOTENSV = HO + ' ' + TEN, DIEM_CC, DIEM_GK, DIEM_CK
	FROM (SELECT MASV, DIEM_CC, DIEM_GK, DIEM_CK FROM DANGKY WHERE MALTC = @MALTC AND HUYDANGKY = 'FALSE') DSDK,
		(SELECT MASV, HO, TEN FROM SINHVIEN) SV
	WHERE  DSDK.MASV = SV.MASV
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LAYDANHSACHNHOMQUYEN]    Script Date: 5/24/2022 3:59:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_LAYDANHSACHNHOMQUYEN] @TENNHOM VARCHAR(10)
AS
BEGIN
IF (@TENNHOM = 'PGV')
BEGIN
SELECT name AS TENNHOM
FROM sys.database_principals 
WHERE type = 'R' and principal_id < 16384 and principal_id != 0 AND name != 'SV' AND name != 'PKT'
END
ELSE SELECT TENNHOM = @TENNHOM
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LAYTHONGTINGIANGVIEN]    Script Date: 5/24/2022 3:59:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_LAYTHONGTINGIANGVIEN] @magv nchar(10)
AS
BEGIN
	SELECT MAGV, MAGV+HO+' '+TEN AS THONGTIN FROM GIANGVIEN WHERE MAGV != @magv
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LAYTHONGTINSINHVIEN]    Script Date: 5/24/2022 3:59:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_LAYTHONGTINSINHVIEN] @MASV NCHAR(10)
AS
BEGIN
SELECT MASV, CONCAT(HO,' ',TEN) AS HOTEN, MALOP FROM SINHVIEN WHERE MASV = @MASV AND DANGHIHOC = 'FALSE'
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LOCLTC]    Script Date: 5/24/2022 3:59:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_LOCLTC] @MASV NCHAR(10), @NIENKHOA NCHAR(9), @HOCKY INT
AS
BEGIN
SELECT LTC.MALTC,LTC.MAMH,TENMH,NHOM,HOTENGV, SLDADANGKY, HUYDANGKY
FROM (SELECT MALTC,MAMH,NHOM,MAGV FROM LOPTINCHI WHERE HOCKY = @HOCKY AND NIENKHOA = @NIENKHOA AND HUYLOP = 'FALSE') LTC 
INNER JOIN MONHOC ON MONHOC.MAMH = LTC.MAMH -- LẤY TÊN MÔN HỌC
INNER JOIN (SELECT MAGV, CONCAT(HO,' ',TEN) AS HOTENGV FROM GIANGVIEN) GV ON GV.MAGV = LTC.MAGV -- LẤY HỌ TÊN GIẢNG VIÊN
LEFT JOIN (SELECT MALTC, COUNT(MALTC) AS SLDADANGKY FROM DANGKY WHERE HUYDANGKY = 'FALSE' GROUP BY MALTC) DK ON DK.MALTC = LTC.MALTC
LEFT JOIN (SELECT MALTC, HUYDANGKY FROM DANGKY WHERE MASV = @MASV) SVDK ON SVDK.MALTC = LTC.MALTC
END
GO
/****** Object:  StoredProcedure [dbo].[SP_REPORT_BangDiemMonHoc]    Script Date: 5/24/2022 3:59:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[SP_REPORT_BangDiemMonHoc]
@NK NCHAR(9), @HK INT, @MAMH NCHAR(10), @NHOM INT
AS
BEGIN
	IF 1=0 BEGIN
		SET FMTONLY OFF
	END

	DECLARE @MALTC INT = -1
	SELECT @MALTC = MALTC
	FROM LOPTINCHI 
	WHERE MAMH = @MAMH AND NIENKHOA = @NK AND NHOM = @NHOM AND HOCKY = @HK

	SELECT DK.MASV, HO, TEN, DIEM_CC, DIEM_GK, DIEM_CK
	FROM (SELECT MASV, DIEM_CC, DIEM_GK, DIEM_CK FROM DANGKY WHERE MALTC = @MALTC) DK,
		(SELECT MASV, HO, TEN FROM SINHVIEN WHERE DANGHIHOC = 'FALSE') SV
	WHERE DK.MASV = SV.MASV
	ORDER BY TEN, HO
END
GO
/****** Object:  StoredProcedure [dbo].[SP_REPORT_DanhSachDongHocPhiLop]    Script Date: 5/24/2022 3:59:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[SP_REPORT_DanhSachDongHocPhiLop]
@MALOP NCHAR(10), @NK NCHAR(9), @HK INT
AS
BEGIN
	SELECT HOTEN = HO + ' ' + TEN, HOCPHI, SOTIENDADONG = SUM(SOTIENDONG)
	FROM
	 (SELECT MASV, HOCPHI FROM HOCPHI WHERE NIENKHOA = @NK AND HOCKY = @HK) HP
	LEFT JOIN 
		(SELECT MASV, SOTIENDONG FROM CT_DONGHOCPHI WHERE NIENKHOA = @NK AND HOCKY = @HK) CTDHP
	ON HP.MASV = CTDHP.MASV, 
				(SELECT MASV, HO, TEN FROM SINHVIEN WHERE MALOP = @MALOP) SV
	WHERE HP.MASV = SV.MASV
	GROUP BY HO, TEN, HOCPHI
	ORDER BY TEN, HO
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TAOLOGIN]    Script Date: 5/24/2022 3:59:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TAOLOGIN]
  @LGNAME VARCHAR(50),
  @PASS VARCHAR(50),
  @USERNAME VARCHAR(50),
  @ROLE VARCHAR(50)
AS
  DECLARE @RET INT
  EXEC @RET= SP_ADDLOGIN @LGNAME, @PASS,'QLDSV_TC'
  IF (@RET =1)  -- LOGIN NAME BI TRUNG
     RETURN 1
 
  EXEC @RET= SP_GRANTDBACCESS @LGNAME, @USERNAME
  IF (@RET =1)  -- USER  NAME BI TRUNG
  BEGIN
       EXEC SP_DROPLOGIN @LGNAME
       RETURN 2
  END
  EXEC sp_addrolemember @ROLE, @USERNAME
  IF @ROLE= 'PGV' OR @ROLE= 'KHOA'
  BEGIN 
    EXEC sp_addsrvrolemember @LGNAME, 'SecurityAdmin'
  END
RETURN 0  -- THANH CONG
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_DIEM]    Script Date: 5/24/2022 3:59:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
CREATE PROC [dbo].[SP_UPDATE_DIEM]
@DIEMTHI TYPE_DANGKY READONLY
AS
BEGIN
	MERGE INTO DANGKY AS Target
	USING (SELECT MALTC, MASV, DIEM_CC, DIEM_GK, DIEM_CK FROM @DIEMTHI) AS Source
	ON Target.MALTC = Source.MALTC AND Target.MASV = Source.MASV
	WHEN MATCHED THEN
		UPDATE SET TARGET.DIEM_CC = SOURCE.DIEM_CC, TARGET.DIEM_GK = SOURCE.DIEM_GK,
					TARGET.DIEM_CK = SOURCE.DIEM_CK;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_XOALOGIN]    Script Date: 5/24/2022 3:59:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_XOALOGIN]
  @LGNAME VARCHAR(50),
  @USRNAME VARCHAR(50)
  
AS
  EXEC SP_DROPUSER @USRNAME
  EXEC SP_DROPLOGIN @LGNAME
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "PUBS"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 170
               Right = 380
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "SUBS"
            Begin Extent = 
               Top = 175
               Left = 48
               Bottom = 338
               Right = 346
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1176
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1356
         SortOrder = 1416
         GroupBy = 1350
         Filter = 1356
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'V_DS_PHANMANH'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'V_DS_PHANMANH'
GO
